.map-wrapper{
    border: white solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-wrapper{
    /*border: white solid 1px;*/
    position: absolute;
    z-index: 1;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

.map{
    /*position: relative;*/
    /*top: -25px;*/
    /*left: -25px;*/
}

.map-content{
    position: absolute;
    z-index: 3;
}

.map-bg{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 2;
}

.levelChooser{
    background:white;
    position: absolute;
    top:0;
    right:0;
    width: 15vw;
    z-index: 5;
}

.onemap{
    flex: 1 0 100%;
    /*float: left;*/
    width:100vw;
    height: 100vh;
    overflow: hidden;
}

.twomaps{
    flex: 1 0 49%;
    /*float: left;*/
    width:50vw;
    height: 100vh;
    overflow: hidden;
}

.fourmaps{
    flex: 1 0 49%;
    width:50vw;
    height:50vh;
    overflow:hidden;
}
