.map-wrapper{
    border: white solid 1px;

}

.panel-wrapper{
    /*border: white solid 1px;*/
    display: flex;
    width: 100vw;
    height: 100vh;
}

.map{
    margin: 5px;
    position: relative;
    top: -50px;
    left: -50px;
    z-index: 5;
}

.levelChooser{
    background:white;
    position: absolute;
    top:0;
    right:0;
    width: 15vw;
    z-index: 10;
}

.onemap{
    float: left;
    width:100vw;
    height: 100vh;
    overflow: hidden;
}

.twomaps{
    float: left;
    /*width:50vw;*/
    height: 100vh;
    overflow: hidden;
}
