.gadTab-selector{
    height: 100%;
    width: 10%;
    position:absolute;
}

.gadTab-wrapper{
    height: 100%;
    width: 100%;
}

.gad-inMenu{
    width: 55%;
    height: 55%;
    flex: 1 0 25%;
}

.gad-inMenu img{
    height: 95%;
}

.gadTab-display{
    position: relative;
    height: 100%;
    width: 90%;
    left: 10%;
    display: flex;
    flex-flow: row wrap;
}

.gadTab{
    height:50%;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.gadTab.selected{
    background: rgba(245, 223, 24, 0.945);
    color: black;
}

.gadgetSelectMenu{
    display:none;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.8);
    width: 70vw;
    height: 10vh;
    position: fixed;
    bottom: 15vh;
    left: 15vw;
    z-index: 6;
}

.op-inMenu{
    width: 55%;
    height: 55%;
    flex: 1 0 25%;
}

.op-inSelected{
    width:100%;
    height: 20%;
    float: left;
    display: flex;
}

.opSVG{
    width: 80%;
    height: 80%;
    flex: 1 0 100%;
}

.selectedOps{
    background: rgba(0,0,0,0.8);
    width: 8vw;
    height: 55vh;
    position: fixed;
    top: 25vh;
    z-index: 5;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.selectedAtt{
    left: 1vw;
}

.selectedDef{
    right: 1vw;
}

.opSelectMenu{
    display:none;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.8);
    width: 50vw;
    height: 75vh;
    position: fixed;
    top: 10vh;
    left: 25vw;
    z-index: 6;
}

.osm-sub{
    display: flex;
    width: 49%;
    height: 100%;
    float: left;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
}

.divider{
    border-right: 1px solid white;
}

.osm-sub p{
    margin: auto;
    width: 100%;
    color: white;
}
