.sidebar-element{
    margin: auto;
}

.sidebar-top{
    position: absolute;
    top:0;
    width:100%;
    height: 8vh;
    background: rgba(26, 26, 26, 0.8);
    z-index: 5;
}

.toolsWrapper{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100vw;
    background: rgba(26, 26, 26, 0.8);
    z-index:5;
}

.modeSwitches{
    float: right;
}

.clearPointsConfirm{
    transition: 1s all;
    background: #c40e0e;
}

.lButton{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 5px 0 5px;
    float: left;
    height: 5vh;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    /*border: 1px solid black;*/
    background: black;
    color: white;
    user-select: none;
    -moz-user-select: none;
}

.lButton p{
    display: block;
    margin:auto;
}

.lButton:hover{
    background: #292929;
}

.lButton:active{
    background: #454545;
}

.dd-selector{
    display: block;
    margin: 0 auto;
    float: left;
    height: 5vh;
    width: 150px;
}

.opsChooser{
    text-wrap: normal;
}

.cButton{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 5px 0 5px;
    float: left;
    width: 100px;
    height: 5vh;
    padding: 5px;
    background: black;
    color: white;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
}

.clearButtonWrapper{
    margin: 0 5px 0 5px;
    float: left;
    background: black;
    width: 110px;
    height: calc(5vh + 10px);
}

.clearButton{
    top:0;
    left:125px;
    width: 100px;
    height: 5vh;
    padding: 5px;
    color: white;
    text-align: center;
    position: absolute;
    vertical-align: middle;
    user-select: none;
    -moz-user-select: none;
    z-index: 7;
}

.clearButton:hover{
    background: #292929;
}

.clearButton:active{
    background: #454545;
}

.confirmButton{
    color: white;
    background: #c40e0e;
    transition: transform 0.5s;
    transition-timing-function: ease-out;
    width:100px;
    height:5vh;
    padding: 5px;
    margin:0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top:0;
    left: 125px;
    z-index: 6;
    user-select: none;
    -moz-user-select: none;
}

.confirmButton:hover{
    background: #c26c6c;
}

.confirmButton:active{
    background: #c74343;
}

.cButton:hover{
    background: #292929;
}

.cButton:active{
    background: #454545;
}
